.button {
    display: flex;
    position: relative;
    padding-top: 35px;
    padding-left: 40px;
}

.logo {
    display: flex;
    position: relative;
    padding-left: 130px;
    bottom: 52px;
}

.title {
    text-align: left;
    margin-top: -110px;
    margin-left: 250px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    padding-bottom: 40px;
    color: #F9B23D;
}

#play-game {
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    background-color: #9C835F;
}

#game-title {
    display: grid;
    grid-template-columns: 5vw 80vw;
    grid-template-rows: auto;
}

h1{
    align-self: center;
}

.name {
    display: grid;
    width: 210px;
    font-size: 32px;
    font-weight: 700;
    color: black;
    justify-items: center;
    align-items: center;
}

#player-hand {
    display: grid;
    justify-items: self-start;
    padding-left: 10vw;
}

/* Opsi tombol pemain */
.player-choice {
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 20px;
    width: 223px;
    height: 204px;
}

.batu {
    background-image: url(./batu.png);
    background-size: 128px 92px;
    background-repeat: no-repeat;
    background-position: center;
}

.kertas {
    background-image: url(./kertas.png);
    background-size: 115px 150px;
    background-repeat: no-repeat;
    background-position: center;
}

.gunting {
    background-image: url(./gunting.png);
    background-size: 134px 160px;
    background-repeat: no-repeat;
    background-position: center;
}

#vsText {
    height: 186px;
    font-size: 100px;
    font-weight: 700;
    color: #BD0000;
    text-align: center;
    margin: 0;
    padding-right: -5vw;
    padding-bottom: 500px;
}

#result {
    width: 240px;
    height: 135px;
    font-size: 38px;
    font-weight: 700;
    color: white;
    background-color: green;
    text-align: center;
    margin-right: 200px;
    padding-top: 5px;
    transform: rotate(-29deg);
    display: none;
    left: 700px;
    justify-content: center;

}
 
#com-hand {
    padding-left: 70vw;
    justify-items: end;
}
/* Akhir dari opsi tombol pemain */

/* Yang dipilih computer */
.com-choice {
    display: grid;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 30px;
    width: 220px;
    height: 200px;
    justify-items: center;
    align-items: center;
}
/* Akhir dari yang dipilih computer */

#refresh {
    display: grid;
    justify-items: center;
    padding-bottom: 500px;
}

#refresh-btn {
    background-color: rgba(255, 255, 255, 0);
    border: none;
}

#refresh-img {
    width: 77px;
    height: 71px;
}